@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
$backgroundColor: #22254B;
$navColor: #373B69;
$textColor: white;

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: $backgroundColor;
    color: $textColor;

    .container{
        display: flex;
        flex-direction: column;
        overflow: hidden;

        nav{
            position: fixed;
            width: 100vw;
            height: 80px;
            background-color: $navColor;
            border-bottom: 2px solid $backgroundColor;
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            margin: auto;
            
            #movie-search{
                font-family: 'Poppins', sans-serif;
                font-size: 1.05em;
                margin: 20px;
                min-width: 200px;
                border: 2px solid $backgroundColor;
                background-color: $navColor;
                color: $textColor;
                border-radius: 20px;
                padding-left: 20px;

                &::placeholder{
                    color: #7378C5;
                }

                &:hover{
                    cursor: pointer;
                }

                &:focus{
                    background-color: $backgroundColor;
                    color: $textColor;
                    outline: none;
                }
            }
        }

        .movies-container{
            max-width: 1800px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 100px auto 20px auto;

            .movie-card{
                display: flex;
                flex-direction: column;
                margin: 0;
                width: 300px;
                max-width: 300px;
                height: 600px;
                max-height: 600px;
                margin: 10px;
                background-color: $navColor;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                }

                .movie-info{
                    width: 270px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: auto;

                    .movie-rating{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto 0px auto auto;
                        min-height: 30px;
                        min-width: 30px;
                        padding: 2px;
                        background-color: $backgroundColor;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}