@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(21, 21, 21, 0.9333333333);
  color: white;
}
body .container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body .container nav {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 80px;
  background-color: #505050;
  border-bottom: 2px solid rgba(21, 21, 21, 0.9333333333);
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin: auto;
}
body .container nav #movie-search {
  font-family: "Poppins", sans-serif;
  font-size: 1.05em;
  margin: 20px;
  min-width: 200px;
  border: 2px solid rgba(21, 21, 21, 0.9333333333);
  background-color: #505050;
  color: white;
  border-radius: 20px;
  padding-left: 20px;
}
body .container nav #movie-search::placeholder {
  color: white;
}
body .container nav #movie-search:hover {
  cursor: auto;
}
body .container nav #movie-search:focus {
  background-color: rgba(21, 21, 21, 0.9333333333);
  color: white;
  outline: none;
}
body .container nav #search-icon {
  position: absolute;
  right: 40px;
  top: 40px;
}
body .container nav #search-icon:hover {
  cursor: pointer;
}
body .container nav #movie-icon {
  position: absolute;
  font-size: 40px;
  left: 100px;
  top: 40px;
  color: rgba(21, 21, 21, 0.9333333333);
}
body .container .movies-container {
  max-width: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px auto 20px auto;
}
body .container .movies-container .movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 300px;
  max-width: 300px;
  height: 600px;
  max-height: 600px;
  margin: 10px;
  background-color: #505050;
}
body .container .movies-container .movie-card:hover .movie-overview {
  max-height: 600px;
}
body .container .movies-container .movie-card:not(:hover) .movie-overview {
  max-height: 0;
}
body .container .movies-container .movie-card .movie-overview {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  transition: max-height 0.75s ease-out;
  overflow: hidden;
  background-color: white;
  color: rgba(21, 21, 21, 0.9333333333);
}
body .container .movies-container .movie-card .movie-overview p {
  text-align: justify;
  font-size: 0.95em;
  padding: 15px;
}
body .container .movies-container .movie-card img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 75%;
  min-height: 75%;
}
body .container .movies-container .movie-card .movie-info {
  position: relative;
  width: 270px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
body .container .movies-container .movie-card .movie-info .movie-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0px auto auto;
  min-height: 30px;
  min-width: 30px;
  padding: 2px;
  background-color: rgba(21, 21, 21, 0.9333333333);
  font-weight: bold;
}
body .container .movies-container .movie-card i {
  position: absolute;
  z-index: 1;
  bottom: 15;
  left: 50%;
}

/*# sourceMappingURL=styles.css.map */
